.alg-dtwp-wrapper {
	.comment-text, .comment-content, .comment-body {
		position: relative;
	}
	#comments {
		float: none;
		padding: 0;
		margin: 0;
	}
	.comments-area {
		-webkit-box-shadow: none;
		box-shadow: none;
		padding-top: 0;
	}
	#respond,.comment-list #respond {
		float: none;
		display: inline-block;
		width: 100%;
	}
	#respond #comment,.comment-list #respond #comment{
		width: 98%;
	}
	.comments-area.Hub #respond, .comment-list .comments-area.Hub #respond {
		width: 97%;
	}
	.comments-area.Hub #respond #comment,
	.comment-list .comments-area.Hub #respond #comment {
		border: 1px solid #ccc;
	}
	.comments-area.Hub #respond #commentform input[type="text"], .comments-area.Hub #respond #commentform input[type="email"],
	.comment-list .comments-area.Hub #respond #commentform input[type="text"],
	.comment-list .comments-area.Hub #respond #commentform input[type="email"] {
		background: #eee;
	}
	.comments-area.Hub .comment-text,
	.comment-list .comments-area.Hub .comment-text {
		background: #f6f6f6 !important;
	}
}