.alg-dtwp-loading-tab{
	&:after{
		opacity:0 !important;
	}
	&.alg-dtwp-loaded:after{
		opacity:1 !important;
	}
	&.alg-dtwp-loaded a:after{
		opacity:0 !important;
		right:-1em;
	}
	a:after{
		content:" "!important;
		border: 3px solid #ddd;
		border-radius: 50%;
		border-top: 3px solid #000;
		width: 15px;
		height: 15px;
		-webkit-animation: alg-dtwp-spin 1.3s linear infinite; /* Safari */
		animation: alg-dtwp-spin 1.3s linear infinite;
		transition: opacity ease .3s, right ease .3s;
		opacity:1;
		position: relative;
		margin-top: 0;
		top: 0;
		right: 0;
		display: inline-block;
		vertical-align: middle;
		margin-left: 7px;
	}
}

@keyframes alg-dtwp-spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}