/**
 * Discussions Tab for WooCommerce Products - Frontend Style.
 *
 * @version 1.3.8
 * @since   1.0.5
 * @author  Thanks to IT
 */
.alg-dtwp-wrapper .comment-text, .alg-dtwp-wrapper .comment-content, .alg-dtwp-wrapper .comment-body {
  position: relative;
}
.alg-dtwp-wrapper #comments {
  float: none;
  padding: 0;
  margin: 0;
}
.alg-dtwp-wrapper .comments-area {
  box-shadow: none;
  padding-top: 0;
}
.alg-dtwp-wrapper #respond, .alg-dtwp-wrapper .comment-list #respond {
  float: none;
  display: inline-block;
  width: 100%;
}
.alg-dtwp-wrapper #respond #comment, .alg-dtwp-wrapper .comment-list #respond #comment {
  width: 98%;
}
.alg-dtwp-wrapper .comments-area.Hub #respond, .alg-dtwp-wrapper .comment-list .comments-area.Hub #respond {
  width: 97%;
}
.alg-dtwp-wrapper .comments-area.Hub #respond #comment,
.alg-dtwp-wrapper .comment-list .comments-area.Hub #respond #comment {
  border: 1px solid #ccc;
}
.alg-dtwp-wrapper .comments-area.Hub #respond #commentform input[type=text], .alg-dtwp-wrapper .comments-area.Hub #respond #commentform input[type=email],
.alg-dtwp-wrapper .comment-list .comments-area.Hub #respond #commentform input[type=text],
.alg-dtwp-wrapper .comment-list .comments-area.Hub #respond #commentform input[type=email] {
  background: #eee;
}
.alg-dtwp-wrapper .comments-area.Hub .comment-text,
.alg-dtwp-wrapper .comment-list .comments-area.Hub .comment-text {
  background: #f6f6f6 !important;
}

.alg-dtwp-anchor-source > .comment-body .comment-text {
  -webkit-animation: alg-dtwp-blink 1s;
          animation: alg-dtwp-blink 1s;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
}

@-webkit-keyframes alg-dtwp-blink {
  50% {
    background-color: #e6e6e6;
  }
}

@keyframes alg-dtwp-blink {
  50% {
    background-color: #e6e6e6;
  }
}
.alg-dtwp-labels {
  z-index: 9;
  content: "";
  text-align: right;
  font-size: 0;
  vertical-align: middle;
  margin-left: 3px;
  top: -1px;
  position: relative;
}
.alg-dtwp-labels.alg-dtwp-comment-text-labels {
  right: -4px;
  top: -4px;
  position: absolute;
}
.alg-dtwp-labels.alg-dtwp-comment-text-labels .alg-dtwp-label {
  right: 15px;
  top: 15px;
}

.alg-dtwp-label {
  margin-left: 5px;
  line-height: 11px;
  vertical-align: baseline;
  background-color: #ccc;
  width: 15px;
  height: 15px;
  display: inline-block;
  position: relative;
  text-align: center;
  border-radius: 50px;
}
.alg-dtwp-label.has-tip {
  cursor: pointer;
}
.alg-dtwp-label .alg-dtwp-fa {
  color: #fff;
  font-size: 11px;
  line-height: 14px;
}
.alg-dtwp-label:hover .alg-dtwp-tip {
  opacity: 1;
  top: -30px;
  visibility: visible;
}

.alg-dtwp-tip {
  font-weight: normal;
  font-size: 13px;
  visibility: hidden;
  opacity: 0;
  white-space: nowrap;
  right: 0;
  top: -20px;
  position: absolute;
  padding: 6px 10px;
  transition: all 0.25s ease-in-out;
}

.alg-dtwp-item-author.comment > .comment-body .comment-meta:before, .alg-dtwp-support-reps.comment > .comment-body .comment-meta:before {
  padding: 3px 6px;
  text-align: center;
  display: block;
  font-size: 12px;
  margin: 0 0 9px 0;
  line-height: 14px;
}

.alg-dtwp-loading-tab:after {
  opacity: 0 !important;
}
.alg-dtwp-loading-tab.alg-dtwp-loaded:after {
  opacity: 1 !important;
}
.alg-dtwp-loading-tab.alg-dtwp-loaded a:after {
  opacity: 0 !important;
  right: -1em;
}
.alg-dtwp-loading-tab a:after {
  content: " " !important;
  border: 3px solid #ddd;
  border-radius: 50%;
  border-top: 3px solid #000;
  width: 15px;
  height: 15px;
  -webkit-animation: alg-dtwp-spin 1.3s linear infinite;
  /* Safari */
  animation: alg-dtwp-spin 1.3s linear infinite;
  transition: opacity ease 0.3s, right ease 0.3s;
  opacity: 1;
  position: relative;
  margin-top: 0;
  top: 0;
  right: 0;
  display: inline-block;
  vertical-align: middle;
  margin-left: 7px;
}

@-webkit-keyframes alg-dtwp-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes alg-dtwp-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.dtwp-subscription {
  text-align: right;
  margin-bottom: 50px;
}
.dtwp-subscription label {
  cursor: pointer;
}
.dtwp-subscription * {
  vertical-align: middle;
}
.dtwp-subscription .description {
  opacity: 0.7;
  font-size: 15px;
}

/*# sourceMappingURL=frontend.css.map*/